<!-- As a heading -->
<nav class="navbar" style="background-color: black">
  <div class="container">
    <span class="navbar-brand mb-0 h1" style="color: white">Hack the blog</span>
    <a class="btn btn-primary" href="#" role="button">Admin</a>
  </div>
</nav>
<!-- As a heading -->
